apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  labels:
    app: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
      - name: web-app
        image: elpabs/webapp_tricarico:89c465e4656401b69eb483639573a438bf2a6f3c
        ports:
        - containerPort: 80
