apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  selector:
    app: web-app
  ports:
    - protocol: TCP
      port: 80        # Port interne du cluster
      targetPort: 80  # Port du conteneur
      nodePort: 30080 # 
  type: NodePort      
